.icon {
    &.icon__default {
        height: 16px;
        width: 16px;
    }

    &.current_weather_icon {
        height: 64px;
        width: 64px;
    }

    &.gear__icon {
        height: 16px;
        width: 16px;

        &:hover {
           transform: rotateZ(180deg);
           transition-duration: 800ms;
        }
    }
}