.icon {
    &.icon__default {
        height: 16px;
        width: 16px;
    }

    &.current_weather_icon {
        height: 86px;
        width: 86px;
    }

    &.gear__icon {
        height: 16px;
        width: 16px;

        &:hover {
           transform: rotateZ(180deg);
           transition-duration: 800ms;
        }
    }

    &.icon__sun {
        height: 40px;
        width: 40px;
    }

    &.location_error_icon {
        width: 50px;
        height: 50px;
        margin-right: auto;
        margin-left: auto;
    }

    &.refresh__icon {
        width: 18px;
        height: 18px;
    }

    &.hamburger__icon {
        width: 25px;
        height: 25px;
    }
}