.settings__container {
    grid-template-areas: 
    "h h h e"
    "list list list list";
    grid-template-rows: 20px auto;
    row-gap: 8px;
}

.search__button {
    height: fit-content;
    width: fit-content;
}

.input__group {
    align-items: center;
    column-gap: 10px;
    grid-template-columns: auto 16px;
}

.locations__container {
    height: 30%;
    width: 100%;
    overflow-y: scroll;
    border-radius: 5px;
    grid-area: list;
}

.location {
    display: grid;
    grid-template-columns: 1fr 15fr 1fr;
    cursor: pointer;
    border-bottom: 1px solid black;

    &:hover {
        color: blue
    }
}
 