.settings {
    height: 100%;
}

.settings__container {
    height: 100%;
    grid-template-areas: 
    "h h h e"
    "con con con con";
    grid-template-rows: 20px auto;
    row-gap: 10px;
}

.search__button {
    height: fit-content;
    width: fit-content;
}

.search_result_container {
    grid-area: con;
}

.input__group {
    align-items: center;
    column-gap: 20px;
    grid-template-columns: auto 30px 25px 25px;
}

.locale__select {
    width: 40px;
}

.unit__select {
    width: fit-content;
}

.locations__container {
    height: 60%;
    width: 100%;
    overflow-y: scroll;
    border-radius: 5px;
    grid-area: con;

    &:last-child {
       border-bottom: none;
    }
}

.location {
    display: grid;
    grid-template-columns: 1fr auto 14fr 25px;
    grid-column-gap: 3px;
    cursor: pointer;
    border-bottom: 1px solid black;
    align-items: center;

    &:hover {
        color: blue
    }

    &:last-of-type {
        border-bottom: none;
    }
}

.not_found_container {
    height: 100px;
    justify-content: center;
    align-items: center;

    .not_found_text {
        color: gray;
    }
}
 