@import "./palette.scss";

.text {
    font-family: Roboto;
}

.header {
    font-size: 25px;
}

.container {
    display: grid;
}

.temperature {
    &:after {
        content: "°";
    }
}

.button {
    border: 1px solid black;
    background-color: transparent;
    border-radius: 2px;

    &:hover {
        background-color: rgb(168, 168, 163, 0.2);
    }

    &:active {
       outline: 1px solid black;
    }
}

.select {
    border-color: transparent;
    border-bottom: 2px solid gainsboro;
    background-color: inherit;
    color:$text-color;
}

::-webkit-scrollbar
{
  width: 4px;  /* for vertical scrollbars */
  height: 4px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{

  background: $scrollbar-track-color;
}

::-webkit-scrollbar-thumb
{
  background: $scrollbar-thumb-color;
}