.text {
    font-family: Roboto;
}

.header {
    font-size: 25px;
}

.container {
    display: grid;
}

.temperature {
    &:after {
        content: "°";
    }
}

.button {
    background-color: transparent;
    border-radius: 5px;
}

::-webkit-scrollbar
{
  width: 4px;  /* for vertical scrollbars */
  height: 4px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{

  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}