.widget {
    background: rgba(51, 112, 198, 0.7);
    color: rgba(255,255,255,.9); 
    padding: 5px 10px 0px 10px;
    width: 420px;
    height: 170px;
    border: 1px solid black;
    border-radius: 10px;    
    .head__container {
        align-items: center;
        grid-template-columns: auto auto 16px;
    }

    .sun_container {
        grid-template-columns: 40px 50px 40px 50px;
        column-gap: 5px;
        align-items: center;
    }

    .widget__container {
        grid-template-columns: 80px 150px 200px;
    }

    .description {
        font-weight: bold;
        &::first-letter {
            text-transform:capitalize;
        }
    }

    .current_temperature_container {
        grid-template-areas:
        "ct ct ct"
        "mint maxt .";

        .current__temperature {
            font-size: 50px;
            grid-area: ct;
        }

        #min__temperature{
            grid-area: mint;
        }

        #max__temperature{
            grid-area: maxt;
        }
    }
}